:root {
  --text-logo-fontsize: 2rem;
  --text-title-fontsize: 1.25rem;
  --text-content-fontsize: 1.15rem;
  --text-description-fontsize: 0.85rem;
  --text-weight: bold;
  --padding: 12px;
  --hover-decoration-thickness: 2px;
  --font-family: "LXGW WenKai", "Noto Sans", serif;
}

/* 亮色主题（默认） */
:root {
  --text-logo-color: #333333;
  --text-title-color: #3a3a3a;
  --text-content-color: #3a3a3a;
  --text-description-color: #6b6b6b;
  --bg-color: #ffffff;
  --border-color: #e1e4e8;

  --grid: #f5f3f0;
}

/* 暗色主题 */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --text-logo-color: #e8e8e8;
    --text-title-color: #d8d8d8;
    --text-content-color: #d8d8d8;
    --text-description-color: #a8a8a8;
    --bg-color: #1d2024;
    --border-color: #94989c;

    --grid: #23262b;
  }
}

:root[data-theme="dark"] {
  --text-logo-color: #e8e8e8;
  --text-title-color: #d8d8d8;
  --text-content-color: #d8d8d8;
  --text-description-color: #a8a8a8;
  --bg-color: #1d2024;
  --border-color: #94989c;

  --grid: #23262b;
}

@media (max-width: 768px) {
  :root {
    --text-logo-fontsize: 1.8rem;
    --text-title-fontsize: 1.15rem;
    --text-content-fontsize: 1.05rem;
    --text-description-fontsize: 0.85rem;
  }
}

/* @media (max-width: 768px) {
  :root {
    --text-logo-fontsize: 1.75rem;
    --text-title-fontsize: 1.1rem;
    --text-content-fontsize: 1rem;
    --text-description-fontsize: 0.8rem;
  }
} */
html,body{
  background-color: var(--bg-color);
  font-family: var(--font-family);
  color: var(--text-content-color);
   background-image:
    linear-gradient(var(--grid) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid) 1px, transparent 1px);
  background-size: 24px 24px;
  background-attachment: fixed;
}


.container {
  max-width: 740px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 8px;
  }
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("/fonts/LXGWWenKai.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}